#nishi{
    color:#99fa99;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;

}
#k{
    color:white;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tilt Prism', cursive;
font-family: 'Ubuntu', sans-serif;
}

nav>a{
    color:white;
    text-align:center;
    text-decoration: none;
    margin: auto;
    margin-left:50px;
}
nav>a:hover{
    color: rgb(235, 57, 87);
}
nav{
    top:80px;
    padding-left: 200px;
}

#nishitha{
    color:#99fa99;
}




#nis{
    font-weight:bolder;

}
h1{
    text-align: center;
    color:#99fa99;
    margin-top: 50px;
     font-weight:bolder;
}
#nikki{
    text-align: center;
    color:rgb(25, 201, 25);
    margin-left: 0px;
    margin-right: 480px;
    margin-top: -25px;
    
}
#mummy{
    color:#b6d8cf;
}
#nanna{
    color:rgb(25, 201, 25);
    background-color:#315f52;
    margin-left: 900px;
    margin-top: -70px;
}
.n{

    border-radius: 10px;
    background :#315f52;

}
#mahi{
    width:900px;
    height:900px;
    background-color: white;
    margin-left: 250px;
    margin-top: -15px;
    text-align: center;
color:#99fa99 ;
    margin-top:-10px;
    margin-right: 200px;
}

#man{
    text-align: center;
    margin-right: 50px;
    font-size: larger;
}
#u{
    padding-right:700px;
    padding-top: 40px;
}
.hii{
    padding-right:700px;
}
.niki{
    display:inline-block;
}
.p{
    color:#315f52;
  margin-top: -10px;
  padding-left:200px;


}
#soo{
    display: inline-block;
}
#eye{
    margin-top: -10px;
}
#summer{
margin-top: -100px;
padding-right: 480px;
}
#april{
    padding-right: 600px;
}
#this{
    padding-right: 30px;
}
#secndimage{
    padding-top: 50px;
}
#inner{
    margin-top: -140px;
    padding-right: 570px;
}
#aprl{
    padding-right: 600px;
}
#website{
    padding-right: 30px;
}
#yoga{
    margin-top: -100px;
    padding-right: 480px;
}
#apl{
    padding-right: 600px;
}
#has{
    padding-right: 30px;
}