#content{
    border: white;
display: inline-block;
    height: 20px;
    width:1000px;
    height: 50px;
    background: #d1d3d4;

}
a{
    display: inline-block;
   margin-top: -40px;
   margin-top: -20px;
   text-decoration: none;
   list-style-type: none;
}
.contener{
    display: inline-block;
      text-align: center;
      margin: auto;
      padding-left: 200px;
}
#freeze{
    color: rgb(223, 53, 87);
}
.a:hover{
    color: rgb(206, 7, 47);
}
#p{
 color: rgb(184, 37, 66);;
}
 #img{

    width:1000px;
    margin-top: 50px;
    background-position: left;

 }
.new{
color:#315f52;
 }
 #the{
    color: rgb(223, 53, 87);
 }
 .n{
    display: inline-block;
    margin-left: 40px;
 }
 #abc{
    width: auto;
    border: #315f52;
    background: #d1d3d4;
    margin-top: -40px;
 }
#k{
    padding-left: 40px;
}
#d{
    
    height:70px;
    background-color:rgb(163, 163, 19);
    border:rgb(163, 163, 19);
   
}
#e{
    width:auto;
    height:70px;
    background-color:rgb(219, 109, 128);
    border: rgb(212, 102, 120);
    padding-left: 500px;
}
.nishi{
    margin: auto;
    padding-top: 40px;
    text-align: center;
    padding-left: 20px;
    

}
#z{
color: rgb(5, 128, 5);
}